{% extends 'base.html.twig' %}

{% block title %}Github profile{% endblock %}

{% block body %}


<div class="album py-5" id="france">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<h1>Create Article</h1>

            {{ form_start(form, {'method': 'POST'}) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>

                <div class="row">
                    <div class="col">
                    {{ form_row(form.title) }}
                    {{ form_row(form.description) }}
                    <input type="text" name="tags[]" id="tags">
                    {{ form_row(form.series) }}
                    {{ form_row(form.main_image) }}
                    {{ form_row(form.published) }}
                    {{ form_row(form.organization_id) }}
                    </div>
                </div>
            {{ form_end(form) }}
		</div>
	</div>
</div>

{% endblock %}